<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>聊天</title>
    <link rel="stylesheet" href="css/module-content.css"/>
</head>
<body>
    <div id="msgview" class="check_histoty">
      <div class="histoty">
        <a href="moguim://moguim/:history">查看聊天记录</a>
      </div>
    </div>


    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/json2.min.js"></script>
    <script src="js/lib/underscore.min.js"></script>
    <script src="js/module-msgview.js"></script>
    <script src="js/index.js"></script>

    <!-- message -->
    <!-- 13:12:04 -->
    <script type="template/text" id="tpl_message1">

      <div class="messages <%= mtype %>">
        <div class="message clearfix">
          <a href="#" target="_blank" class="avatar">
            <img src="<%= avatar %>" alt="<%= name %>" />
          </a>
          <div class="content clearfix">
            <i class="message_tip"></i>
            <div class="message_content">
              <p class="message_text">
                <%= content %>
              </p>
            </div>
          </div>
        </div>
        <div class="dropdown">
          <ul class="dropdown_menu">
            <li class="copy"><a>复制</a></li>
            <li class="delete"><a>删除</a></li>
          </ul>
        </div>
      </div>
    </script>

	  <script type="template/text" id="tpl_message6">
      <p class="message_time"><%= time %></p>
      <div class="message clearfix <%= mtype %>">
        <a href="#" target="_blank" class="avatar">
          <img src="<%= avatar %>" alt="<%= name %>" />
        </a>
        <div class="content clearfix">
          <i class="message_tip"></i>
          <div class="message_content voice">
            <div class="message_info clearfix">
              <div class="message_name"><%= name %></div>
              <div class="message_time"><%= time %></div>
            </div>
            <p class="message_voice_line">
              <a class="message_voice J_voicebtn" target="_blank" data-id="<%= voiceid %>" href="moguim://moguim/:playvoice?<%= voiceid %>"></a>
              <span class="voice_info"><%= voicetime %></span>
              <span class="<%= voiceisread === 'true' ? '' : 'unread' %>"></span>
            </p>
          </div>
        </div>
      </div>
    </script>
    <!-- message end -->
</body>
</html>
