html, body, ul, li {
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  font: normal 12px/1.5 'SimSun';
  overflow: hidden;
}
img {
  border: 0;
}

a {
  text-decoration: none;
}
.clearfix:after{content:"\200B";display:block;height:0;clear:both;}
.clearfix{*zoom:1;}

.check_histoty {
  min-width: 500px;
}

.check_histoty .histoty {
  text-align: center;
  margin: 10px auto 0;
}
.check_histoty .histoty a {
  color: #777;
  font-size: 18px;
}

.messages {
  position: relative;
}

.message {
  position: relative;
  padding: 10px 15px;
  font-size: 18px;
  z-index: 1;
}

.message .avatar {
  height: 44px;
  width: 44px;
  display: inline-block;
  border-radius: 22px;
  -webkit-border-radius: 22;
  float: left;
  overflow: hidden;
}

.message .avatar img {
  height: 44px;
  width: 44px;
}

.me .avatar {
  float: right;
}

.other .avatar {
  float: left;
}

.message .avatar img {
  height: 44px;
  width: 44px;
}

.message .content {
  position: relative;
  max-width: 80%;
  min-width: 300px;
}

.other .content {
  float: left;
}

.me .content {
  float: right;
}

.message .content .message_tip {
  display: inline-block;
  position: relative;
  height: 12px;
  width: 12px;
  z-index: 3;
  top: 10px;
}

.other .content .message_tip {
  float: left;
  background: url(img/default/other.png) 1px 0 no-repeat;
  left: 3px;
}

.me .content .message_tip {
  float: right;;
  background: url(img/default/me.png) 1px 0 no-repeat;
  right: 3px;
}

.message .message_content {
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  max-width: 80%;
  padding: 15px 24px;
  min-height: 12px;
  min-width: 300px;
}

.other .message_content {
  float: left;
  border: 1px solid #eee;
  background-color: #fff;
}

.me .message_content {
  float: right;
  border: 1px solid #d7e8ee;
  background-color: #e4f0f5;
}

.message .message_content .message_text {
  color: #222;
}

.message_content p {
  margin: 0;
}

.message .content .voice {
  padding: 5px 24px;
}

.content .message_content .message_info {
  font-size: 16px;
}

.content .message_content .message_info .message_name {
  float: left;
  color: #f44799;
}

.content .message_content .message_info .message_time {
  float: right;
  color: #999;
}

.message_voice {
	float: left;
	width: 37px;
	height: 27px;
  background: url(img/default/voice_node.png) 0 0 no-repeat;
}

.message_voice_line {
	height: 30px;
	line-height: 30px;
}

.message_voice_play {
  background: url(img/default/voice_play.gif) 0 0 no-repeat;
}

.message_voice_line .voice_info {
	float: left;
  font-weight: bold;
  color: #666;
}

.message_voice_line .unread {
	float: left;
	width: 30px;
	height: 30px;
	background: url(img/default/unread.png) center center no-repeat;
}

.dropdown {
  position: absolute;
  z-index: 1000;
  top: 44%;

  display: none;
  font-size: 14px;
}

.me .dropdown{
  right: 92px;
}

.other .dropdown{
  left: 92px;
}

.dropdown .dropdown_menu {
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d6d6d6;
  box-shadow: rgba(0,0,0,.1) 2px 3px 10px;
  -webkit-box-shadow: rgba(0,0,0,.1) 2px 3px 10px;
  min-width: 125px;
}

.dropdown .dropdown_menu li a {
  display: block;
  padding: 8px;
  border-bottom: 1px solid #f1f1f1;
  text-align: left;
}

.dropdown .dropdown_menu li a:hover {
  background-color: #f8f8f8;
}

.message_time {
  text-align: center;
  color: #aaa;
  font-size: 14px;
}
